/* Color List:
 - #c5f7ff (Dream Blue)
 - #ff004c (Red-Pink)
 - #5c5c5c (Dark-Grey)
*/

.title {
  color: #ff004c;
  font-family: verdana;
  size: 28px;
  border-bottom-style: dashed;
  border-width: 6px;
}

